<div class="editor-wrapper">
  <div class="editor-header">
    <div class="lang-picker">
      <span class="material-symbols-outlined icon">code</span>
      <span class="code-text">Code</span>
    </div>

    <div class="custom-drop-container">
      <div class="drop-header" (click)="toggleDropdown()">
        {{ selectedLanguageDisplay }}
        <span class="material-symbols-outlined arrow">expand_more</span>
      </div>

      @if (isDropdownOpen) {
        <ul class="drop-list">
          @for (lang of languages; track lang.id) {
            <li (click)="selectLanguage(lang.id, lang.name)">
              {{ lang.name }}
            </li>
          }
        </ul>
      }
    </div>
  </div>

  <div #editorContainer class="monaco-container"></div>
</div>